{% extends "layout.html" %}

{% block content %}

{% include 'items/post_parent.html' %}

{% if not current_user.is_anonymous %}

	{% if post.check(current_user, 'edit') %}
		<a href="{{ url_for('box_edit', id=post.id) }}"><button class="button">edit</button></a>
	{% endif %}
	{% if post.check(current_user, 'owner') %}
		<a href="{{ url_for('box_perms', id=post.id) }}"><button class="button">perms</button></a>
	{% endif %}

	{% if post.check(current_user, 'post') %}
		{% include 'items/send.html' %}
	{% endif %}
	

{% else %}
	log in to comment
{% endif %}

{% for post in post.children %}
	{% include 'items/post.html' %}
{% endfor %}

{% endblock %}