{% extends "layout.html" %}

{% block content %}

{% set showChildren = False %}
{% include 'items/post.html' %}
{% set showChildren = True %}


{% if not current_user.is_anonymous %}

	{% if post.can_edit(current_user) %}
		<a href="{{ url_for('box_edit', id=post.id) }}"><button class="button">edit</button></a>
		<a href="{{ url_for('box_perms', id=post.id) }}"><button class="button">perms</button></a>
	{% endif %}

	{% include 'items/send.html' %}

{% else %}
	log in to comment
{% endif %}

{% for post in post.children %}
	{% include 'items/post.html' %}
{% endfor %}

{% endblock %}